body {
  background: black;
  color: white;
}

.box {
  background: red;
  border: 1px solid greenyellow;
  padding: 15px;
  margin-bottom: 15px;
.head {
  border: 3px solid white;
}

#first-box {
  background: salmon;
}
